* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #000;
    --secondary-color: #daa520;
}

.page {
    font-family: 'Nunito', sans-serif;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
}

.font-bold {
    font-weight: 800;
}

.section__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.section__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: rgba(34, 34, 34, 0.1);
}

.section__subtitle {
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    color: #3E3F43;
}

/* HEADER */

.header {
    margin: 0;
    padding: 0;
    min-height: 800px;
    position: relative;
    padding-left: 102px;
}

.header__bg {
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.header__desk {
    position: absolute;
    right: 0;
    top: 165px;
    z-index: -1;
}

.header__nav {
    width: 430px;
    margin: 0 auto;
}

.header__nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 27px;
}

.header__nav-link {
    text-decoration: none;
    color: var(--main-color);
    opacity: 0.75;
    font-size: 16px;
    line-height: 22px;
}

.header__nav-link-active {
    color: var(--secondary-color);
    opacity: 1;
    font-weight: 800;
}

.header__nav-link:hover {
    color: var(--secondary-color);
    opacity: 0.8;
    transition: 0.3s color;
}

.header__subtitle {
    margin-top: 217px;
    width: 504px;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}

.header__title {
    margin-top: 16px;
    width: 504px;
    color: #313235;
    font-size: 72px;
    line-height: 98px;
    font-weight: bold;
}

.header__button {
    margin-top: 16px;
    background-color: var(--secondary-color);
    color: #fff;
    border: 0;
    width: 175px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.header__button:hover {
    background-color: #fff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: all .5s;
}

.header__button:focus {
    outline: 0;
}

/* ABOUT */

.about {
    min-height: 950px;
    padding-top: 120px;
}

.about__titles {
    width: 952px;
    height: 98px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;;
}

.about__title {
    text-transform: uppercase;
    font-size: 72px;
    line-height: 98px;
    color: rgba(34, 34, 34, 0.1);
    font-weight: 800;
}

.about__subtitle {
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    color: #3E3F43;
}

.about__content {
    position: relative;
    padding-left: 100px;
    padding-top: 40px;
    min-height: 812px;
}

.about__content-furniture {
    position: absolute;
    top: 555px;
    left: 100px;
}

.about__content-wood {
    position: absolute;
    right: 100px;
    top: 104px;
    width: 448px;
}

.about__content-wood-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}

.about__content-wood-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    margin-top: 16px;
}

.about__content-furniture-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #000;
}

.about__content-furniture-text {
    margin-top: 16px;
    width: 648px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000;
}

.about__content-home-furniture {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* WORK */

.work {
    padding: 120px 0px;
}

.work__cards {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    padding: 0 100px;
}

.work__card {
    text-align: center;
    position: relative;
}

.work__card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    text-align: center;
    margin-top: 24px;
}

.work__card-number {
    position: absolute;
    color: rgba(249, 189, 189, 0.25);
    font-weight: 600;
    font-size: 96px;
    line-height: 131px;
    left: -40px;
    bottom: 30px;
}

.work__card-number-first {
    position: absolute;
    left: -20px;
}

.work__card-number-second {
    position: absolute;
    left: 0px;
}

.work__button {
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: 64px auto 0 auto;
    width: 212px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: 0;
    cursor: pointer;
}

.work__button:hover {
    background-color: #fff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: all .5s;
}

/* CATEGORIES */

.categories {
    padding: 0 0 100px 0;
}

.categories__cards {
    width: 952px;
    flex-wrap: wrap;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.categories__card {
    width: 280px;
    height: 400px;
    position: relative;
}

.categories__card:nth-child(-n+3) {
    margin-bottom: 40px;
}

.categories__card-hidden {
    opacity: 0;
}

.categories__card-title {
    margin-top: 24px;
    margin-left: 16px;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
}

.categories__card-img-first {
    margin-top: 31px;
}

.categories__card-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.categories__card-button {
    font-family: 'Nunito', sans-serif;
    width: 123px;
    height: 40px;
    position: absolute;
    bottom: 24px;
    right: 16px;
    border: 1px solid #3E3F43;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.categories__card-button:hover {
    background-color: #fff;
    transition: all 0.5s;
}

.categories__card-button:focus {
    outline: 0;
}

.categories__card-bg-pink {
    position: absolute;
    background: #F9BDBD;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    border-radius: 0 35% / 0 25%;
}

.categories__card-bg-yellow {
    position: absolute;
    background: #F7DEA6;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    border-radius: 0 35% / 0 25%;
}

.categories__card-bg-blue {
    position: absolute;
    background: #A8DCEC;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    border-radius: 0 35% / 0 25%;
}

/* FOOTER */

.footer {
    background-image: url('../images/footer/footer-bg.jpg');
    background-repeat: no-repeat;
    padding: 208px 336px 0 108px;
    position: relative;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
    padding-bottom: 75px;
}

.footer__column_header {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.footer__column_content_info {
    align-self: center;
}

.footer__column_text {
    text-decoration: none;
    color: #8D8D8D;
    margin-top: 16px;
    font-size: 14px;
    line-height: 19px;
}

.footer__column_links {
    list-style-type: none;
}

.footer__column_link {
    display: block;
    text-decoration: none;
    color: #8D8D8D;
    margin-top: 16px;
    font-size: 14px;
    line-height: 19px;
    color: #8d8d8d;
}

.footer__column_link:hover {
    color: var(--secondary-color);
    transition: all .5s;
}

.footer__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #8D8D8D;
    text-transform: uppercase;
}

.logo {
    width: 192px;
    height: 33px;
}

.logo__header {
    position: absolute;
    left: 80px;
    top: 23px;
}





